html {

  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url(../pic/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}

#contenthere {
  min-height: 100%;
  height: auto !important;
  height: 100%;

}


tr {
width: 100%;
display: inline-table;
color : #777;
font-size: 16px;

}

table tbody tr:hover {
  background-color: #777;
  color: #000;
  cursor: pointer;
}

table{

}
tbody{
  overflow-y: scroll;
  width: 100%;
  position: absolute;
}

.intro {
  display: table;
	width: 100%;
  height: 120%;
  padding: 0;
    }

.intro .intro-body .brand-heading {
  color: #fff;
  font-size: 44px;
  margin-top: 80px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bolder;
  text-shadow:1px 1px 0px rgba(150,150,150,1);
    }

.intro .intro-body .intro-text {
  color: #fff;
  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
  margin-bottom: 50px;
    }


  .search-header {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }

  .nice-input {
    text-align: left;
    border-top: 4px solid #fff;
    border-bottom: 5px solid #fff;
    background-color: transparent;
    border-left: none;
    border-right: none;
    height: 60px;
    color: #fff;
    box-shadow: none;
    border-radius: 0;
    outline: 0 none;
  }

  .nice-button {
    background-color: transparent;
    border: 4px solid #fff;
    color: #fff;
  }

  .widthsize-input {
    width: 80%;
  }

  .video-section {
    justify-content: center;
    align-items: center;
  }

  .video-content {
    margin-top: 40px;
  }

  #androidapp {
    margin-top: 5px;
    width: 100%;
  }

  a:hover {
    text-decoration: none;
  }

  .footer {
    width: 100%;
    height: 60px;
    background-color: #1b1b1b;

  }

  footer p {
    color : #777;
    margin-top: 5px;
  }



/* Landscape tablets and medium desktops */
@media (min-width: 992px)  {
  .intro .intro-body .brand-heading {
    font-size: 60px;
    margin-top: 80px;
      }

  .intro .intro-body .intro-text {

    font-size: 24px;
    margin-bottom: 50px;
      }
      .footer {
        height: 40px;
          }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .intro .intro-body .brand-heading {
      font-size: 50px;
      margin-top: 80px;
        }

    .intro .intro-body .intro-text {

      font-size: 20px;
      margin-bottom: 50px;
        }

    .footer {
      height: 60px;
        }
}


}
